.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2vh 4vh;
  /*telling css not to increase the size of the box regardless of given padding*/
  box-sizing: border-box;
  background-color: #f5f5f5;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  z-index: 999;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  /*enable relative positioning to notifications*/
  position: relative;
  color: #2e363e;
}

.nav__chat-notification {
  position: absolute;
  left: 10px;
  bottom: 7px;
}

.nav__simple-notification {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  left: 20px;
  bottom: 15px;
}
